* {
  box-sizing: border-box;
}

html, 
body, 
#root, 
#app {
  height: 100%;
  margin: 0;
}

h1, 
h2, 
p {
  margin: 0;
}

/* TYPOGRAPHY */

body {   
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 2.625rem;
  font-weight: 800;
  letter-spacing: -1px;
}

#header--nav-link {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.search-result--title {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.search-result--rating,
.search-result--movie-details-mid-row {
  font-size: 0.75rem;
}

.search-result--summary {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.empty-page-text {
  color: #DFDDDD;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}

/* HEADER */

header {
  color: white;
  min-height: 150px;
  height: 30vw;
  max-height: 300px;
  
  background-color: black;
  background:
      rgba(0, 0, 0, 1)
      url('images/header-background.png');
  background-size: cover;
  background-position: center;  
  display: flex;
  align-items: center;
}

header > .content-fit-width {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* SEARCH PAGE WRAPPER */
#search-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  
  /* 100% - header height */
  height: calc(100% - 30vw);
  min-height: 300px;
  position: relative;
}


/* SEARCH BAR */

#search-bar {
  display: flex;
  width: 84%;
  height: 2.375rem;
  margin: -1.1875rem auto 0;
  
  font-weight: 500;
  font-size: 0.875rem;
  font-family: inherit;
}

#search-bar input {
  color: #6B7280;
  
  background: 
      white
      url('images/search-icon.svg')
      0.75rem center
      no-repeat;
      
  width: 100%;
  padding-left: 2.5em;
  border-radius: 10px 0 0 10px; 
   
}

#search-bar button {
  color: #374151;
  width: 120px;
  border-left: none !important;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

#search-bar .border {
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

#search-bar .border:focus {
  outline: none;
  border: 1px solid #A29994 !important;
}

#search-bar .font-style {
  font-weight: 500;
  font-size: 0.875rem;
  font-family: inherit;
}

/* SEARCH PAGE */

#search-page {
  /* 100% - header height - 1/2 of search bar height */
  /* height: calc(100% - 30vw - 1.1875rem); */
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  padding-top: 1.1875rem;
  /* bottom: 45%;
  transform: translateY(40%); */
} 

#search-page--start-exploring {
  flex-direction: column;
  gap: 10px; 
}


/* INDIVIDUAL SEARCH RESULT */
.search-result {
  display: flex;
  border-bottom: solid 2px #E5E7EB;
  padding: 2em 0;
  gap: 1.5em;
}

.search-result--poster {
  width: 100px;
  height: 150px;
}

.search-result--movie-details-top-row {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1em;
}

.search-result--title {
  margin-right: 0.5em;
}

.star-icon {
  margin-right: 4px;
}

.search-result--movie-details-mid-row {
  display: flex;
  gap: 2em;
  margin-bottom: 1em;    
}

.btn-add-to-watchlist {
  display: flex;
  align-items: center;
  gap: 0.4em;
}


/* UTILITIES */

.flex-center {
  display: flex;    
  align-items: center;
  justify-content: center;   
}

.content-fit-width {
  width: 84%;
}